S3method(print,npxplore_result)
export(npx_analyze)
export(npx_anova_posthoc)
export(npx_anova)
export(npx_annotation_file)
export(npx_clean)
export(npx_pipeline)
export(npx_prepare)
export(npx_qc_reports)
export(npx_read_inputs)
export(npx_validate_inputs)
export(print.npxplore_result)
export(npx_boxplot)
export(npx_distribution_boxplot)
export(npx_dep_boxplot)
export(npx_go_enrichment)
export(npx_functional_analysis)
export(npx_cluster_assays)
export(npx_cluster_heatmap)
export(npx_cluster_lineplot)
export(npx_heatmap)
export(npx_pathway_heatmaps)
export(npx_iqrplot)
export(npx_string_ppi)
export(npx_ppi_network)
export(npx_umap)
export(npx_volcano)
export(npx_ttest)
export(npx_wilcox)
export(npx_wilcon)
importFrom(dplyr,.data)

export(npx_read_files)
export(npx_apply_qc)
export(npx_export_tables)
export(npx_save_plot)
